<section id="ubisoft">
    <div class="container">
        <div class="row" style="margin-bottom: 40px;">
            <div class="col-12"><h2 class="main-title">{{ page.title }}</h2>
                <hr>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color:#f0f3f4">
        <div class="row">
            <div class="col-lg-12">
                <div id="carouselUbisoft" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{ dump(page.header) }}
                        {% for image in page.header.carousel.img %}
                            {{ dump(image.title) }}
                            {% set active = loop.first ? "active" : "" %}
                            <div class="carousel-item {{ active }}">
                                <img class="d-block w-100" src="{{ page.media.images[image.img].url }}"
                                     alt="First slide">
                                <div class="carousel-caption ">
                                    <h3>{{ image.title }}</h3>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselUbisoft" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselUbisoft" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid ubisoft-style"
         style="background: linear-gradient(to bottom right, {{ page.header.description.color }} 30%, {{ page.header.description.color2 }} 30%); margin-top: 20vh;">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 ubisoft">
                <h3><span class="title-surrounded">{{ page.header.description.titre }}</span></h3>
                <p class="text">{{ page.header.description.text }}</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 background"
                 style="background-image: url({{ page.media.images[page.header.description.img].url }}); ">
            </div>
        </div>
    </div>

    <div class="container-fluid ubisoft-style"
         style="background: linear-gradient(to bottom right,{{ page.header.description.color2 }} 55%, {{ page.header.description.color }} 55%)">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 background"
                 style="background-image: url({{ page.media.images[page.header.description2.img].url }}); ">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 ubisoft">

                <h3><span class="title-surrounded">{{ page.header.description2.titre }}</span></h3>
                <ul class="list-group list-group-flush text" style="color: black;">
                    {% for p in page.header.description2.text %}
                        <li class="list-group-item text-left"> {{ p.titre }} : {{ p.text }} </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <div class="container chiffre" >
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="text-center">{{ page.header.chiffre.titre }}</h2>
            </div>
        </div>
            <div class="row" >
                {% for number in page.header.chiffre.items %}
                    {{ dump(number) }}
                    <div class="col-md-6 col-lg-6" style="background-color: {{ number.color }}; color: {{ number.textColor }}">
                        <h3 class="text-center">{{ number.title }}</h3>
                        <p class="text-center">{{ number.number }}</p>
                        <p class="text-center">{{ number.text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>